
<%= stylesheet_link_tag 'frame', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'menu', media: 'all', 'data-turbolinks-track' => true %>
<body>

  <div class="container">
    <!--ヘッダーに関する記述---------------------------------------------------------->
        <%= render 'layouts/header' %>
    <!--ヘッダーに関する記述ここまで---------------------------------------------------->

  <main class="content">
        <section class="contents">

        <p><h3 class="heading">クッキンマウスくんの献立表</h3></p>
        <article class="grid">
          <div style="padding:10px 0px 10px 10px ; display:box; display:-moz-box; display:-webkit-box;">
            <p><%= image_tag("mama.png",:align => "left",:size => "160x160") %></p>
            <p><br><br><br><br><br><br><%= "条件に合う献立が見つかりませんでした・・・" %></p>
          </div>
          <p class="readmore"><%= link_to '» もう一度検索する', question_path %></p>

        </article>

      </section>
      <p></p>
  </main>

  <!--フッターに関する記述----------------------------------------------------------->
    <%= render 'layouts/footer' %>
  <!--フッターここまで--------------------------------------------------------------->

  </div><!--/.container-->
  <!--javascriptのファイルの読み込み等-->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
