<%= stylesheet_link_tag    'profile', media: 'all', "data-turbolinks-track" => true %>
<%= stylesheet_link_tag 'top-style', media: 'all', 'data-turbolinks-track' => true %>


  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="container">

<!--ヘッダーに関する記述---------------------------------------------------------->
    <%= render 'layouts/header' %>
<!--ヘッダーに関する記述ここまで---------------------------------------------------->

<!--メインコンテンツに関する記述----------------------------------------------------->
      <main class="contents">

<h1>確認</h1>

<%= form_for @user, :url => {:controller => "user_pages" } do |f| %>
    名前: <%= @user.name %>
    <%= f.hidden_field :name %>
    <br />
    メールアドレス: <%= @user.email %>
    <%= f.hidden_field :email %>
    <br />
    パスワード: <%= @user.password %>
    <%= f.hidden_field :password %>
    <br />
    <%= f.submit '戻る', name: "back" %>
    <br />
    <%= f.submit '登録'%>
<% end %>


</main>
<!--メインコンテンツに関する記述ここまで---------------------------------------------->

<!--フッターに関する記述----------------------------------------------------------->
<%= render 'layouts/footer' %>
<!--フッターここまで--------------------------------------------------------------->

</div><!--/.container-->

<!--javascriptのファイルの読み込み等-->
<script>
$(document).ready(function(){
$('.bxslider').bxSlider({
mode: 'fade',
speed: 5000,
randomStart: true,
pager: false,
controls: false,
auto: true
});
});
</script>
<script type="text/javascript">
$(document).ready(function(){
if ($(window).width() > 420) {
$('.akineta').bgswitcher({
images: ['/img/top/slide/sample.jpg','/img/top/slide/sample2.jpg','/img/top/slide/sample3.jpg'],
interval: 5000
});
}
});
</script>
