<%= stylesheet_link_tag 'top-style', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'profile', media: 'all', 'data-turbolinks-track' => true %>


  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="container">

<!--ヘッダーに関する記述---------------------------------------------------------->
    <%= render 'layouts/header' %>
<!--ヘッダーに関する記述ここまで---------------------------------------------------->

<!--メインコンテンツに関する記述----------------------------------------------------->
      <main class="contents">
        <div class="contents__inner season-recipes">
          <section>
<div class="row">
  <h1> <%= @user.name %> </h1>
  <% if @user.dishes.count != 0 %>
    <b>お気に入りレシピ</b><br>
    <% @user.dishes.each do |favdish| %>
      <% r_link = 'http://www.rakulacook.com/recipe/' + favdish.id.to_s %>
      <% if favdish.flag == 0
        name = favdish.dishname + "（主菜）"
      else
        name = favdish.dishname + "（副菜）"
      end %>
      <%= link_to name, r_link %>
      <br>
    <% end %>
  <% else %>
      <p>お気に入りレシピはありません</p>
  <% end %>
  <% if @user.alvalue.nil? %>
    <p>アレルギーはありません</p>
  <% else %>
    <br>
    <b>アレルギー</b>
    <br>
    <% alv = @user.alvalue.split(",") %>
    <% alv.each do |alv| %>
      <% an = Allergy.find(alv) %>
      <%= an.aname %>
      <br>
    <% end %>
  <% end %>
  <br>
  <p><%= link_to '» 設定', edit_user_page_path%></p>
</div>

</section>
</div><!--/.contents__inner season-resipes-->
</main>
<!--メインコンテンツに関する記述ここまで---------------------------------------------->

<!--フッターに関する記述----------------------------------------------------------->
<%= render 'layouts/footer' %>
<!--フッターここまで--------------------------------------------------------------->

</div><!--/.container-->

<!--javascriptのファイルの読み込み等-->
<script>
$(document).ready(function(){
$('.bxslider').bxSlider({
mode: 'fade',
speed: 5000,
randomStart: true,
pager: false,
controls: false,
auto: true
});
});
</script>
<script type="text/javascript">
$(document).ready(function(){
if ($(window).width() > 420) {
$('.akineta').bgswitcher({
images: ['/img/top/slide/sample.jpg','/img/top/slide/sample2.jpg','/img/top/slide/sample3.jpg'],
interval: 5000
});
}
});
</script>
