<!--<h1>ManuDisp#menu_disp</h1>
<p>Find me in app/views/manu_disp/menu_disp.html.erb</p>





 <img alt="HO" src="/assets/HO.gif"/>

-->

<div class="hero-text">
  <h1 class="responsive-headline"></h1>
</div>
<br>



<br>

 <%= link_to (button_tag "この献立は気に入らん"),
  {:controller => "manu_pages" ,:action => "question"},
  {:class => "btn"} %>

<%= render 'layouts/footer' %>
